/* GENERAL */

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;             
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: xx-large;
}

h2{
    font-size: x-large;
    font-family: 'Patua One', cursive;
}

/* HEADER */

header{
    background-color: rgb(207, 171, 248);
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    min-height: 55px;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

nav a{
    font-weight: 500;
    padding-right: 10px;
}

nav a:hover{
    color: aquamarine;
}

/* MAIN */

.main-inicio{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /*box-shadow: 0px 0px 10px rgb(0, 0, 0);*/
    align-content: center;
    width: 98%;
    height: auto;
    margin: 5px auto;
    background-color: azure;
}

/* GALERIA DE IMAGENES */
.galery{
    display: flex;
    width: 1920px;
    height: 380px;
    padding: 10px;
}

.galery img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.galery img:hover{
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

/* PokeDex */

.pokedexAPI{
    background-color:bisque;
    text-align: center;
    width: 600px;
    height: 420px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    box-shadow: 0 0 20;
}

.pokemon-image{
    background: url(https://preview.redd.it/d9spuwer2c491.png?width=1050&format=png&auto=webp&s=9ca8c75c63da9f8bb134e955d73e2770d073375e);
    width: 300px;
    height: 250;
}

.pokemon-button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    background: #3d4453;
    border: none;
    padding: 12px;
    color: white;
}

.pokemon-button:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}

/* HISTORIA */

.parent {
    padding-bottom: -1000px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: relative; 
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.parent div{
    margin: 10px;
    padding:10px;
    background: #BAAFAE;
    background: linear-gradient(to top left, #BAAFAE 0%, #E3D4D4 100%);
    border-radius: 5px;
    line-height: 2rem;
}
    
.div1 { grid-area: 1 / 1 / 2 / 4; 
    text-align: center;
}

.div2 { grid-area: 2 / 1 / 3 / 4; 
    text-align: center;
}

.div3 { grid-area: 3 / 1 / 4 / 4; 
    text-align: center;
}

.div1 img{
    width: 320px;
    height: 190px;
    float: right;
}

.div2 img{
    width: 320px;
    height: 190px;
    float: left; 
}

.div3 img{
    width: 320px;
    height: 190px;
    float: right; 
}

/* MEDIA QUERY */

@media (max-width: 700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}

/* FOOTER */

footer{
    background-color: rgb(207, 171, 248);
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    padding: 10px;
}
